/* NAVIGATION BAR */

#primary-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    max-width: 100%;
    padding-inline: 24px;
    padding-block: 20px;
    background-color: #bbc3f9;
}

#nav-logo {
    width: auto;
    justify-content: right;
}

#link-section {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: right;

    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent-color);
}

#link-section p {
    margin-inline: 10px;
}

#protected-routes {
    display: flex;
}

@media (min-width: 46em) {
    #primary-nav {
        justify-content: space-between;
    }
    #link-section {
        width: auto;
    }
}

/* LOGO */

#logo-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 4px;
}

#logo-name {
    font-family: "Sen", sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    color: #111c70;
    padding-inline: 4px;
}

#logo-img {
    width: 1.5rem;
    height: 1.5rem;
}

@media (min-width: 60em) {
    #logo-container {
        flex-grow: 0;
    }
}

/* NAV BUTTON  */

.btn-nav {
    margin-inline-start: 6px;
}
