.btn-nav {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: var(--accent-color);
    border: none;
    border-radius: 8px;
    padding-block: 0.5rem;
    padding-inline: 1rem;
}
